
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
.bg-light-blue {
  background-color: #cbe3f6 !important;
}
a.text-decoration-none:hover {
  text-decoration: none;
}
/* Only apply this style if screen width <= 425px */
/* @media (max-width: 425px) {
  .footer-brand {
    text-align: center;
    align-items: center;
  }

  .footer-icons {
    justify-content: center !important;
  }
} */
