.navbar {
  height: 60px;
  width: 100%;
  background-color: var(--blue-light);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 250px; /* offset for sidebar */
  right: 0;
  z-index: 100;
  color: var(--text-light);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.profile-role {
  font-size: 12px;
  color: var(--blue-soft);
}

.dropdown li:hover {
  background-color: var(--blue-accent);
  color: var(--text-light);
}
